/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-rgba: 0, 0, 0;
  --basic-white: #ffffff;
  --basic-white-rgba: 255, 255, 255;
  --basic-light-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-blue:#5496BD;
  --basic-extra-dark: #333333;
  --basic-brown: #503E33;
  --basic-extra-brown: #604E43;
  --basic-light-brown: #766357;
  --basic-gray: #eeeeee;
  --basic-light-gray: #f2f2f2;
  --basic-extra-gray: #666666;
  --special: #888888;
}

/* Global */

body {
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Main navigation */

.main-navigation {
  position: relative;
  padding: 15px 0;
}

.main-header-logo img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
}

.site-navigation li:nth-child(4) {
  padding-right: 72px;
}

.site-navigation a {
  color: var(--basic-black);
  line-height: 26px;
}

.site-navigation a:hover {
  color: var(--basic-light-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-hero {
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-light-blue);
  background-size: cover;
  min-height: 509px;
  display: flex;
  justify-content: center;
}

.city {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.reasons {
  color: var(--basic-extra-dark);
  line-height: 26px;
}

.features {
  text-align: center;
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
}

.feature-item-1 {
  display: grid;
  grid-template-columns: 400px 1fr;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  grid-column: 1/-1;
}

.feature-sublist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

.feature-sublist p {
  font-weight: normal;
  color: var(--basic-extra-dark);
  font-size: 14px;
}

.feature-item-2 {
  display: grid;
  grid-template-columns: 1fr 400px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  grid-column: 1/-1;
}

.feature-item div {
  padding: 47px 51px 54px;
  background-color: var(--basic-light-blue);
}

.feature-item {
  background-color: var(--basic-gray);
}

.appointment {
  text-align: center;
}

.appointment-item input::placeholder {
  background-color: var(--bacis-light-gray);
  color: var(--basic-black);
  line-height: 26px;
  font-weight: bold;
}

.appointment-button {
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  width: 568px;
  height: 86px;
  border: none;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  padding: 0;
}

.appointment-button:hover {
  background-color: var(--basic-extra-brown);
}

.appointment-button:focus {
  background-color: var(--basic-brown);
  color: rgba(var(--basic-white-rgba), 0.3);
}

.appointment-info p {
  line-height: 24px;
}

.appointment-item {
  font-weight: bold;
  line-height: 26px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
}

.button:hover {
  background-color: var(--basic-extra-blue);
}

.button:focus {
  background-color: var(--basic-blue);
  color: rgba(var(--basic-white-rgba), 0.3);
}

/* main-footer */

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  display: flex;
  justify-self: center;
  list-style: none;
}

.footer-social:hover{
  background-color: var(--basic-extra-blue);
}

.footer-copyright {
  line-height: 26px;
  justify-self: end;
}

.footer-copyright a:hover {
  background-color: var(--basic-light-blue);
}

/* Catalog */

.page-catalog {
  display: grid;
}

.filters {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-color: var(--basic-light-blue);
}

.filter-item {
  padding-top: 26.5px;
  padding-right: 73px;
  padding-bottom: 31px;
  padding-left: 72px;
}

.filter{
  display: grid;
  grid-template-columns: 200px 200px 1fr;
}

.filter fieldset {
  border: none;
  color: var(--basic-white);
}

.filter fieldset:last-child {
  justify-self: right;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-button {
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  width: 137px;
  height: 36px;
  background-color: transparent;
}

.sort-item {
  display: flex;
}

.sort-list {
  display: flex;
}

.sort ul {
  list-style: none;
}

.sort p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sort li {
  font-size: 12px;
  line-height: 18px;
}

.sort-cost {
  color: var(--basic-light-blue);
}

.sort-type {
  border-bottom: 1px dashed var(--basic-light-blue);
  color: rgba(var(--basic-black-rgba), 0.3);
}

.catalog-list {
  list-style: none;
  padding-left: 73px;
}

.catalog-list h3 {
  color: var(--basic-black);
  line-height: 26px;
}

.catalog-list h3:hover {
  color: var(--basic-light-blue);
}

.catalog-list h3:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.catalog-item {
  display: flex;
}

.catalog-item-more  {
  background-color: var(--basic-light-blue);
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  font-weight: bold;
}

.catalog-item-more:hover {
  background-color: var(--basic-extra-blue);
}

.catalog-item-more:active {
  background-color: var(--basic-blue);
  color: rgba(var(--basic-white-rgba), 0.3);
}

.catalog-item-reserve {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  width: 142px;
  height: 27px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.catalog-item-reserve:hover {
  background-color: var(--basic-extra-brown);
}

.catalog-item-reserve:focus {
  background-color: var(--basic-brown);
  color: rgba(var(--basic-white-rgba), 0.3);
}

.rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-light-gray);
  color: var(--basic-extra-gray);
}

